:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-bg: hsl(207, 26%, 17%);

  --light-mode-txt: hsl(200, 15%, 8%);
  --light-mode-inputs: hsl(0, 0%, 52%);
  --light-mode-bg: hsl(0, 0%, 98%);

  --white-clr: hsl(0, 0%, 100%);

  --font-detailed: 16px;
  --font-homepage: 14px;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.light-mode {
  color: var(--light-mode-txt);
  background-color: var(--light-mode-bg);
}

.dark-mode {
  color: var(--white-clr);
  background-color: var(--dark-mode-bg);
}

/* All elements with class attributes containing the word 'light' or 'dark' */
[class~="light"] {
  color: var(--light-mode-txt);
  background: var(--white-clr);
  box-shadow: 5px 7px 15px var(--light-mode-inputs);
}

[class~="dark"] {
  color: var(--white-clr);
  background: var(--dark-mode-elements);
}

/* Main CSS */
.main-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* Nav CSS */
.nav-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: var(--dark-mode-elements);
  box-shadow: none;
}

.nav-header[theme="dark"] {
  background-color: var(--dark-mode-elements);
}

.nav-header[theme="light"] {
  background-color: var(--white-clr);
}

.header-title {
  font-size: 1.2rem;
}

.theme-name {
  font-weight: 600;
}

.toggle-theme {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}

.toggle-theme img {
  height: 24px;
}

/* Filter CSS */
.filter-queries {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 1em;
  position: relative;
}

input,
select {
  height: 50px;
  border-radius: 5px;
  border-style: none;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.search-country {
  box-shadow: none;
}

.select-region {
  width: 50%;
  box-shadow: none;
}

/* Countries CSS */
.countries-grid {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 2em;
  padding: 1em 2em;

  font-size: var(--font-homepage);
}

/* Simple CSS */
.country-simple {
  display: flex;
  flex-direction: column;
  border-radius: 1em;

  width: 100%;
  height: 100%;
  cursor: pointer;
}

.country-flag {
  width: 100%;
  height: 150px;
}
.country-flag img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.simple-info {
  padding: 1em 2em;
}

.no-countries {
  width: 100%;
  text-align: center;
  font-size: 0.7rem;
}

/* Detailed CSS */
.detailed-container {
  display: flex;
  flex-direction: column;
  padding: 1em;

  padding-bottom: 5em;
  font-size: var(--font-detailed);
  position: relative;
}

.back-btn {
  position: absolute;
  left: 5%;

  cursor: pointer;
  border-style: none;
  border-radius: 1em;

  font-weight: 600;
  padding: 1em 2em;
}

.detailed-country {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-top: 100px;
}

.border-countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.border {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0;
}

.detailed-info h1 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .main-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .filter-queries {
    margin-top: 70px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .search-country {
    width: 40%;
  }

  .select-region {
    width: 200px;
  }

  .no-countries {
    font-size: initial;
  }

  .countries-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .country-simple {
    width: 300px;
  }

  /* Detailed CSS */
  .detailed-container {
    min-height: 100vh;
    width: 100vh;
    margin-top: 5em;
  }
  .detailed-country {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
  }

  .detailed-country img {
    height: 200px;
  }
}

@media screen and (min-width: 1350px) {
  .countries-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
